<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        <div class="container">
            <h2>Home Page</h2>
        </div>
        @RenderBody()
    </body>
</html>
